.button-primary{
    padding: 5px 30px;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--bright);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text);
    display: block;
    margin-top: 0.5vw;
}
.button-primary:hover {
    background-color: white;
    color: black;
}

.headerlinks {
    font-size: 1rem;
    color: var(--text);
    margin-top: none;
    width: 100%;
}

/* making link look like a card */
.link-card {
    background-color: var(--color1);
    border: 0.5rem solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: 100%;
    width: 50%;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 2%;
    display: block  ;
}

.link-card:hover{
    transform: scale(1.1);
    border: none;
}

/* making link look like a card */
.link-card2 {
    background-color: var(--color2);
    border: 0.5rem solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: 100%;
    width: 50%;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 2%;
    display: block  ;
}

.link-card2:hover{
    transform: scale(1.1);
    border: none;
}

/* making link look like a card */
.link-card3 {
    background-color: var(--color3);
    border: 0.5rem solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: 100%;
    width: 50%;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 2%;
    display: block  ;
}

.link-card3:hover{
    transform: scale(1.1);
    border: none;
}

.link-card4 {
    background-color: var(--color4);
    border: 0.5rem solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: 100%;
    width: 50%;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 2%;
    display: block  ;
}

.link-card4:hover{
    transform: scale(1.1);
    border: none;
}


/* INTERACTIVE HIGHLIGHTING */
/* Base Highlight Style */
.interactive-highlight {
    position: relative; /* Allows for positioning of extra elements (e.g., tooltip numbers) */
    background-color: rgba(255, 215, 0, 0.3); /* Light yellow highlight with 30% transparency */
    cursor: pointer; /* Changes cursor to indicate interactivity */
    padding: 0.1px 0.1px; /* Adds small space inside the highlight for better readability */
    border-radius: 5px; /* Rounds the corners slightly for a softer look */
    transition: background 0.3s ease; /* Smooth transition effect when background changes */
}

/* Tooltip Styling for Highlighted Text */
.interactive-highlight::after {
    content: attr(data-card); /* See the explanation */
    position: absolute; /* Positions the tooltip relative to the highlighted text */
    top: -30%; /* Moves the tooltip slightly above the highlighted text */
    right: -0; /* Moves the tooltip slightly to the right of the highlighted text */
    color: white;
    background-color: black;
    font-size: 0.8rem;
    width: fit-content; /* Sets a fixed width for the tooltip */
    height: content; /* Sets a fixed height, making the tooltip a perfect circle */
    display: flex; /* Uses Flexbox to center the text inside the circle */
    align-items: center; /* Vertically centers the text inside the tooltip */
    justify-content: center; /* Horizontally centers the text inside the tooltip */
    border-radius: 5%; /* Creates rounded corners */
    opacity: 0; /* Initially hides the tooltip */
    transition: opacity 0.3s ease; /* Smoothly fades in the tooltip by changing the opacity */
}

.interactive-highlight:hover::after {
    opacity: 1;
}

.flip-card {
    width: 100%;
    height: 180px;
    perspective: 1000px; /* Adds depth to make the flip look 3D */
    cursor: pointer; /* Adds indication of interactivity */
    outline: none; /* Removes default focus outline */
}

/* Flip Card Inner - the rotating part of the card */
.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* creates a 3D space */
    transition: transform 0.5s ease-in-out;
    background: var(--contrast);
}

/* Front & Back Common Styles */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex; /* we are using flex inside our cards */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: normal;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background: var(--altbackground);
    word-break: normal;
}

/* set the colour for the front */
.flip-card-front {
    background: var(--altbackground);
    color: white;
}

/* set the colour for the back */
.flip-card-back {
    background: var(--altbackground);
    color: white;
    transform: rotateY(180deg);
}

/* Flip Card Inner */
.flip-card-inner {
    width: 60%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border: 1px solid var(--text);
    background-color: var(--cardbackground);
    word-break: normal;
}

.flip-containers {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    align-items: center;
    word-break: normal;
}



.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* INTERACTIVE HIGHLIGHTING */
/* Base Highlight Style */
.interactive-highlight_users {
    position: relative; /* Allows for positioning of extra elements (e.g., tooltip numbers) */
    background-color: rgba(255, 215, 0, 0.3); /* Light yellow highlight with 30% transparency */
    cursor: pointer; /* Changes cursor to indicate interactivity */
    padding: 0.1px 0.1px; /* Adds small space inside the highlight for better readability */
    border-radius: 5px; /* Rounds the corners slightly for a softer look */
    transition: background 0.3s ease; /* Smooth transition effect when background changes */
}

/* Tooltip Styling for Highlighted Text */
.interactive-highlight_users::after {
    content: attr(data-userstory); /* See the explanation */
    position: absolute; /* Positions the tooltip relative to the highlighted text */
    top: -30%; /* Moves the tooltip slightly above the highlighted text */
    right: -0; /* Moves the tooltip slightly to the right of the highlighted text */
    color: white;
    background-color: black;
    font-size: 0.8rem;
    width: fit-content; /* Sets a fixed width for the tooltip */
    height: content; /* Sets a fixed height, making the tooltip a perfect circle */
    display: flex; /* Uses Flexbox to center the text inside the circle */
    align-items: center; /* Vertically centers the text inside the tooltip */
    justify-content: center; /* Horizontally centers the text inside the tooltip */
    border-radius: 5%; /* Creates rounded corners */
    opacity: 0; /* Initially hides the tooltip */
    transition: opacity 0.3s ease; /* Smoothly fades in the tooltip by changing the opacity */
}



@media (hover: hover) and (max-width:800px) {

    .interactive-highlight:focus::after,
    .interactive-highlight:active::after {
    opacity: 1;
}
    .flip-containers {
        margin-top: 2%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto auto;
        align-items: center;
    }

    .flip-card-inner {
    border-radius: 2%;
    }

    .scrollmenu::-webkit-scrollbar {
        display: none;
    }
    
      /* Hide scrollbar for IE, Edge and Firefox */
    .scrollmenu {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .link-card {
        min-height: 100%;
        width: 100%;
    }
    .link-card2 {
        min-height: 100%;
        width: 100%;
    }
    .link-card3 {
        min-height: 100%;
        width: 100%;
    }
}