.button-primary{
    padding: 5px 30px;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--bright);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text);
    display: block;
    margin-top: 0.5vw;
}
.button-primary:hover {
    background-color: white;
    color: black;
}

.headerlinks {
    font-size: 1rem;
    color: var(--text);
    margin-top: none;
    width: 100%;
}

.link-card {
    background-color: var(--altbackground);
    border: 0.2rem solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: 100%;
    width: 50%;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 2%;
    display: block  ;
    word-break: break-all;
}

.link-card:hover{
    transform: scale(1.1);
    border: none;
}

.interactive-highlight {
    position: relative; 
    background-color: rgba(255, 215, 0, 0.3); 
    cursor: pointer; 
    padding: 0.1px 0.1px; 
    border-radius: 5px; 
    transition: background 0.3s ease; 
}

.interactive-highlight::after {
    content: attr(data-card); 
    position: absolute; 
    top: -30%; 
    left: -0; 
    color: white;
    background-color: var(--color3);
    padding: 1px;
    font-size: 0.8rem;
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.interactive-highlight:hover::after {
    opacity: 1;
}

.interactive-highlight1 {
    position: relative; 
    background-color: rgba(0, 255, 21, 0.3); 
    cursor: pointer; 
    padding: 0.1px 0.1px; 
    border-radius: 5px; 
    transition: background 0.3s ease; 
}


.interactive-highlight1::after {
    content: attr(data1-card); 
    position: absolute; 
    top: -30%; 
    right: -0; 
    color: white;
    background-color: var(--color4);
    padding: 1px;
    font-size: 0.8rem;
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.interactive-highlight1:hover::after {
    opacity: 1;
}

.interactive-highlight2 {
    position: relative; 
    background-color: rgba(255, 30, 0, 0.3); 
    cursor: pointer; 
    padding: 0.1px 0.1px; 
    border-radius: 5px; 
    transition: background 0.3s ease; 
}

.interactive-highlight2::after {
    content: attr(data2-card); 
    position: absolute; 
    top: -30%; 
    right: -0; 
    color: white;
    background-color: var(--color1);
    padding: 1px;
    font-size: 0.8rem;
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.interactive-highlight2:hover::after {
    opacity: 1;
}

.interactive-highlight_userstory {
    position: relative; 
    background-color: rgba(255, 215, 0, 0.3); 
    cursor: pointer; 
    padding: 0.1px 0.1px; 
    border-radius: 5px; 
    transition: background 0.3s ease; 
}

.interactive-highlight_userstory::after {
    content: attr(userdata-card); 
    position: absolute; 
    top: -30%; 
    left: -0; 
    color: white;
    background-color: var(--color3);
    padding: 1px;
    font-size: 0.8rem;
    width: 10vw; 
    height: fit-content; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    padding: 1%
}

.interactive-highlight_userstory:hover::after {
    opacity: 1;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 10vw;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    text-align: center;
    align-items: center;
    transform-origin: 45%; 
}

  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 90%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    word-break: normal;
}

.flip-card-front {
    background-color: var(--altbackground);
}

  /* Style the back side */
.flip-card-back {
    background-color: var(--altbackground);
    color: white;
    transform: rotateY(180deg);
}

.interactive-highlight_users {
    position: relative; /* Allows for positioning of extra elements (e.g., tooltip numbers) */
    background-color: rgba(255, 215, 0, 0.3); /* Light yellow highlight with 30% transparency */
    cursor: pointer; /* Changes cursor to indicate interactivity */
    padding: 0.1px 0.1px; /* Adds small space inside the highlight for better readability */
    border-radius: 5px; /* Rounds the corners slightly for a softer look */
    transition: background 0.3s ease; /* Smooth transition effect when background changes */
}

/* Tooltip Styling for Highlighted Text */
.interactive-highlight_users::after {
    content: attr(data-userstory); /* See the explanation */
    position: absolute; /* Positions the tooltip relative to the highlighted text */
    top: -30%; /* Moves the tooltip slightly above the highlighted text */
    right: -0; /* Moves the tooltip slightly to the right of the highlighted text */
    color: white;
    background-color: black;
    font-size: 0.8rem;
    width: fit-content; /* Sets a fixed width for the tooltip */
    height: content; /* Sets a fixed height, making the tooltip a perfect circle */
    display: flex; /* Uses Flexbox to center the text inside the circle */
    align-items: center; /* Vertically centers the text inside the tooltip */
    justify-content: center; /* Horizontally centers the text inside the tooltip */
    border-radius: 5%; /* Creates rounded corners */
    opacity: 0; /* Initially hides the tooltip */
    transition: opacity 0.3s ease; /* Smoothly fades in the tooltip by changing the opacity */
}


@media (hover: hover) {
    .interactive-highlight:focus::after,
    .interactive-highlight:active::after {
    opacity: 1;
    }

}

@media (max-width:800px) {


    .link-card {
        min-height: 100%;
        width: 100%;
    }

    .cardscontainer {
        display: block;
        grid-template-columns: none;
        grid-template-rows: auto, auto, auto;
    }

    .flip-card {
        width: 100%;
        height: 25vw;
        perspective: 1000px;
        margin-bottom: 2%;
        vertical-align: middle;
    }

    .flip-card-inner{
        vertical-align: middle;
    }
}
