.left{
    height: 100vw;
    width: 25%;
    margin-left: 5%;
    padding-top: 20%;
    float: left;
    background-color: var(--dark);
    word-wrap: break-word;
    align-items: center;
}

.right{
    height: 100vw;
    width: 65%;
    float: right;
    background-color: var(--dark);
    word-wrap: break-word;
    align-items: center;
}

.header{
    height: 10%;
    width: 100%;
}


@media (max-width:800px) {
    .content{
        display: block; 
        float: none; 
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .left{
        display: block; 
        float: none; 
        width: 100%;
        margin: 0;
        align-items: center;
        padding: 1vw;

    }
    .right{
        display: block; 
        float: none; 
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0.2vw;
    }
}