.textblock.heading {
    background-color: var(--bright);
    border-radius: 0;
}

.CommunityGuidlines {
    display: grid;
    grid-template-columns: auto auto;
    
}

@media (max-width:800px) {
.CommunityGuidlines {
    display: block;
    }   

    }