img {
    display: block;
    margin: auto;
    width: 15%;
    border-radius: 200px;
}

.contentblock{
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
}


.title {
    font-size: 7rem;
    line-height: 0;
    margin-top: 6vh;
}