img {
    display: block;
    margin: auto;
    width: 15%;
    border-radius: 200px;
}

.contentblock{
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.material-icons-round {
    color: var(--bright);
    font-size: 5rem;
}