.topicnavigation {
    margin-top: 2%;
    width: 100%;
    text-align: left;
    display: block;
    margin-bottom: 2%;
}
.topicnavigation a{
    float: none;
}

.Newpost {
    width: 95%;
    background-color: var(--charcoal);
    color: var(--text);
    padding: 1%;
    margin: auto;
    border-radius: 20px;
    border: solid 1px var(--text);
}