.topicnavigation {
    margin-top: 2%;
    width: 100%;
    text-align: left;
    display: block;
    margin-bottom: 2%;
}
.topicnavigation a{
    float: none;
}

.activetopic {
    color: var(--bright);
    cursor: pointer;
    transform: scale(1.2);
    border-bottom: solid 1px var(--bright);
}

.newpostbar {
    width: 100%;
    text-align: center;
}

@media (max-width:800px) {
    .topicnavigation {
        text-align: center;
    }

    }