.title_text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    color: rgb(80, 24, 112);
}

.title_subtext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgb(80, 24, 112);
}

.main_content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: rgb(80, 24, 112);
}