.container{
    height: 100vh;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(167, 99, 206);
}

@media (min-width: 768px) {
    .container{
        width: 100vw;
    }
}