.main{
    background-color: rgb(162, 75, 212);
}

.header{
    height: 10vh;
}

.content{
    display: flex;
}

.left{
    flex: 1;
    height: 80vh;
    width: 30vw;
    margin-right: 1vw;
    margin-left: 4vw;
    margin-bottom: 5vw;
    display: flex;
    background-color: rgb(162, 75, 212);
}

.right{
    height: 80vh;
    width: 30vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    display: flex;
    background-color: rgb(162, 75, 212);
    border: 0.1vw solid black;
}

.containerleft1{
    margin: 5%;
    padding: 5%;
    height: 80%;
    width: 45%;
}


.title{
    margin-top: 50%;
    width: 30vw;
}

@media (min-width: 768px) {
    .container{
        width: 100vw;
    }
}