h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 1.5;
    color: rgb(80, 24, 112);
    align-self: start;
}

h2{
    font-family:"EB Garamond", serif;
    font-size: 1.5rem;
    color: rgb(80, 24, 112);
    line-height: 1.5;
}

p{
    font-family:"EB Garamond", serif;
    font-size: 1rem;
    color: rgb(80, 24, 112);
}

.headertext {
    font-family:"EB Garamond", serif;
    font-size: 1.5rem;
    color: rgb(80, 24, 112);
    margin-left:4vw;
    padding-top: 2vw;
}