h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 1;
    color:  var(--text);
    align-self: start;
}

h2{
    font-family:"EB Garamond", serif;
    font-size: 2.5rem;
    color:  var(--text);
    line-height: 1;
}

h3{
    font-family:"EB Garamond", serif;
    font-size: 2rem;
    color:  var(--text);
    line-height: 1;
}

h4{
    font-family:"EB Garamond", serif;
    font-size: 1.8rem;
    color:  var(--text);
    line-height: 1;
    font-weight: bold;
}

h5{
    font-family:"EB Garamond", serif;
    font-size: 1.2rem;
    color:  var(--text);
    line-height: 1;
    font-style: italic;
    margin-top: 0.5vw;
}

p{
    font-family:"EB Garamond", serif;
    font-size: 1rem;
    color: var(--text);
    margin-top: 0.5vw;
}

.headertext {
    font-family:"EB Garamond", serif;
    font-size: 4rem;
    color:  var(--text);
    margin-left: 5%;
    padding-top: 2vw;
}

.headerlinks {
    font-size: 1rem;
    color:  var(--text);
    margin-top: none;
    width: 100%;
}

headerlinks:hover{
    color: black;

}

a{
    font-family:"EB Garamond", serif;
    font-size: 1rem;
    display: block;
    color: var(--bright);
    font-weight: bold;
    
}
a:hover{
    color: black;
}

.logotext{
    font-family:"EB Garamond", serif;
    font-size: 2rem;
    color: var(--bright);
}

@media (max-width:800px) {
    .headerlinks {
        font-size: 1rem;
        color:  var(--background);
        float: none;
        margin-right: 0;
    }

    .logotext{
        color: var(--text);
    }
    
    
}