.img-gallery {
    width: 70%;
    min-height: 70vh;
    max-height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-gap: 0.5%;
    row-gap: 0.5%;
}

.img-gallery img{
    min-width: 90%;
    min-height: 100%;
    cursor: pointer;
    width:100%; 
    vertical-align:middle;
}

.img-gallery img:hover{
    opacity: 0.5;
}

.full-img{
    width: 100%;
    background: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    max-height: 90%;
    max-width: 90%;
}

.full-img span{
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 2rem;
    color: var(--text);
    cursor: pointer;
}

#caption {
    color: var(--text);
    text-align: left;
    font-size: 0.9rem;
    font-family: var(--textfont);
    margin: auto;
    border: var(--text) 1px solid;
    padding: 10px;
    background-color: var(--altbackground);
    max-width: 30%;
}

.imgcontainer {
    width: 80%;
    height: 80%;
    margin: auto;
}

.imageresized{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (max-width:800px) {

    .img-gallery{
        width: 90%;
        grid-template-columns:  auto auto;
    }

    #caption {
        max-width: 100%;
        padding: 0;
    }

    .imgcontainer {
        width: 80%;
        margin: auto;
    }

    .full-img{
        height: 70vh;
        position: fixed;
    }

}