@import '../css/component_skeletons/accordion.css';
@import '../css/component_skeletons/card.css';
@import '../css/component_skeletons/swiper.css';
@import '../css/component_skeletons/imagegallery.css';

* {
    padding: 0;
    margin: 0
}

html {
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--textfont);
    width: 100vw;
    height: 100vh;
    
}

.divider {
    width: 50%;
    height: 2.5px;
    border-radius: 20px;
    background: var(--text);
    margin: 10px auto;
    margin-bottom: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--bright);
    text-decoration: underline;
}

.navbuttons{
    padding: 1%;
    text-align: center;
    text-decoration: none;
}

.activepage, .navbuttons:hover{
    background-color: var(--altbackground);
    color: var(--text);
    text-decoration: underline;
}

.activepage::before {
    content: "\2756";
}

.mobile-navbuttons:hover{
    background-color: var(--altbackground);
    color: var(--bright);
}

.sitemapimg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 50%;
    max-height: 50%;
    align-items: center;
    margin-top: 1%;
}

.breadcrumb{
    height: fit-content;
    margin-bottom: 1%;
}

ul.breadcrumb {
    list-style: none;
    background-color: transparent;
}

ul.breadcrumb li {
    display: inline-block;
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
}

ul.breadcrumb li a{
    display: inline;
    padding: 0;
}

ul.breadcrumb li+li:before {
    color: var(--text);
    content: "\276F";
    margin-left: 0.01%;
}

ul.breadcrumb li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text);
    width: fit-content;
    height: fit-content;
    font-weight: normal;
}

  /* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: var(--highlights);
    text-decoration: underline;
    background-color: var(--dark);
}

@media (max-width:800px) {

    .mobile-navbuttons{
        color: var(--text); /* Black text color */
        float: left;
        text-decoration: none; /* Remove underline from links */
        width: 20%;
        height: 100%;
        text-align: center;
        border-top: solid 1px var(--text);
        background-color: var(--altbackground);
        font-size: 1rem;
    }

    .activepage, .navbuttons:hover{
        background-color: var(--forest);
        color: var(--text);
        text-decoration: underline;
    }

    .activepage::before {
        content: "";
    }

    img {
        min-width: 90%;
        display: block;
        margin: auto;
    }

}