@import '../css/component_skeletons/accordion.css';
@import '../css/component_skeletons/card.css';
@import '../css/component_skeletons/swiper.css';
@import '../css/component_skeletons/imagegallery.css';
@import '../css/component_skeletons/breadcrumb.css';
@import '../css/component_skeletons/button.css';
@import '../css/component_skeletons/form.css';

* {
    padding: 0;
    margin: 0
}

html {
    box-sizing: border-box;
}

.divider {
    width: 50%;
    height: 2.5px;
    border-radius: 20px;
    background: var(--text);
    margin: 10px auto;
    margin-bottom: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--bright);
    text-decoration: underline;
}

.navbuttons{
    padding: 5%;
    text-align: left;
    text-decoration: none;
    margin: 5%;
    font-weight: normal;
}

.navbuttons:hover{
    background-color: var(--altbackground);
    color: var(--text);
    border-radius: 5px;
}

.activepage{
    background-color: var(--ash);
    color: var(--text);
    border-radius: 5px;
}

.activepage::after {
    content: "\2770";
}

.mobile-navbuttons:hover{
    background-color: var(--altbackground);
    color: var(--bright);
}

.material-icons-round {
    margin-right: 5%;
    vertical-align: bottom;
}

.photodisplay{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.photodisplay img {
    border: solid var(--text) 1px;
    border-radius: 20px;
    object-fit: contain;
    height: 38vh;
    width: 38vw;
    margin: auto;
    background-color: var(--dark);
}

.photodisplaycon {
    background-color: var(--charcoal);
    padding: 1px;
    border-radius: 20px;
}

.buttonscontainer{
    display: block;
}

@media (max-width:800px) {

    .mobile-navbuttons{
        color: var(--text); /* Black text color */
        float: left;
        text-decoration: none; /* Remove underline from links */
        width: 20%;
        height: 50px;
        text-align: center;
        border-top: solid 1px var(--text);
        background-color: var(--altbackground);
        font-size: 0.8rem;
        font-weight: normal;
    }

    .material-icons-round {
        vertical-align: middle;
    }

    .activepage, .navbuttons:hover{
        background-color: var(--forest);
        color: var(--text);
        text-decoration: underline;
    }

    .activepage::before {
        content: "";
    }

    .photodisplay.row {
        display: block;
    }

    .photodisplay img {
        height: 40%;
        width: 90%;
    }
}