.cardscontainer {
    display: grid;
    margin: auto;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1%;
}

.cards {
    background-color: var(--ash);
    height: 40vw;
    width: 20vw;
    border-radius: 20px;
    text-align: center;
    border: solid 1px var(--text);
    display: block;
}

.cards:hover {
    transform: scale(1.05);
}

.cards.members {
    background-image: url("../../Assets/icons/membercard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cards.guidelines {
    background-image: url("../../Assets/icons/guidelinescard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cardtext {
    background-color: var(--ash);
    margin: 5px;
    border-radius: 20px;
    min-height: 30%;
    padding: 5px;
}