
#Menu a{
    text-decoration: none;
    font-weight: normal;
    width: 85%;
    display: block;
    margin-top: 5px;
    padding: 5%;
    color: var(--bright);

}

.material-icons-round {
    margin-right: 5%;
    vertical-align: bottom;
}

#Menu a:hover{
    transform: scale(1.1);
    background-color: var(--altbackground);
    color: var(--text);
    border-radius: 20px;
}

.activepage {
    background-color: var(--navbar);
    color: var(--text) !important;
    border-radius: 20px;
}

.activepage::after {
    content: "\2770";
    padding-left: 5px;
}

.dropbtn {
    text-decoration: none;
    font-weight: normal;
    width: 100%;
    display: block;
    margin-top: 0;
    padding: 5%;
    color: var(--bright);
}

.dropdown {
    text-decoration: none;
    font-weight: normal;
    width: 100%;
    display: block;
    margin-top: 0;
    color: var(--bright);
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn.active {
    background-color: var(--navbar);
    color: var(--text);
    border-radius: 20px;
}

.dropbtn.active::after{
    content: "\2770";
    padding-left: 5px;
}

.dropdown-content a {
    text-align: end;
    margin-top: 10px;
    width: 100%;
}
