:root {
    --dark: rgb(1, 6, 8);
    --bright: rgb(230 72 51);
    --contrast:rgb(135 79 65);
    --light:rgb(144 174 173);
    --text:rgb(251 233 208);
    --altbackground: #2A2A2A;
    --textfont: "Instrument Serif", serif;
    --navbar: rgb(51, 51, 51);
    --color1: #F7374F;
    --color2: #2D9CCB;
    --color3: #C07F00;
    --color4: #005B41;
    --highlights: #913175;
    --ebony: #474E68;
    --forest: #18230F;
    --ash: #666362;
    --charcoal: #36454F;
    --oil: #3B3131;
    --mark: #9863be;
    --cardback: rgb(36, 86, 75);
}


body{
    background-color: var(--dark);
    word-break: normal;
    margin: 0;
    display: block;
    font-size: 1.2rem;
}

legend {
    font-family: var(--textfont);
    color: var(--text);
    font-weight: 400;
}

.hiddenfieldsset {
    border: 0;
}

.hiddenlegend {
    display: none;
}

h1,h2,h3,h4,h5,p,a,li,ol,i{
    color: var(--text);
    font-family: var(--textfont);
    margin-top: 4vh;
    line-height: 1.1;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
}

.content{
    padding: 0.5%;
    word-break: normal;
}

.header{
    height: 10%;
    width: 100%;
}

.logo{
    width: fit-content;
    padding: 5px 20px;
}

.logotext{
    font-family: var(--textfont);
    font-size: 2rem;
    color: var(--bright);
}

.logotext:hover{
    color: var(--text);
}

.intextlinks {
    display: inline;
    font-size: 1rem;
}

.intextlinks:hover {
    color: var(--highlights);
}
.gap1 {
    padding-left: 1%;
}

.gap2 {
    padding-left: 3%;
}

.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
.color3 {
    color: var(--color3);
}
.color4 {
    color: var(--color4);
}

@media (max-width: 800px) {
    h1 {
    font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.1rem;
    }
        
    p {
    font-size: 1rem;
    }
}