@import '../css/skeletons/swiper.css';
@import '../css/skeletons/searchbar.css';
@import '../css/skeletons/topicsnavigation.css';
@import '../css/skeletons/menu.css';


.divider {
    width: 50%;
    height: 2.5px;
    border-radius: 20px;
    background: var(--text);
    margin: 10px auto;
    margin-bottom: 1%;
}

.articlemark {
    font-size: 2.3rem;
    border: solid 1px var(--bright);
    background-color: var(--dark);
    color: var(--bright);
}

.material-icons-round {
    color: var(--bright);
    font-size: 5rem;
}

.material-icons-round.navbutton {
    color: var(--bright);
    font-size: 2.5rem;
    margin-right: 10px;
}

.material-icons-round.navbutton1 {
    color: var(--bright);
    font-size: 2.5rem;
}

.accounticon {
    float:right;
    margin-top: 5px;
    margin-right: 5px;
}

.accounticon:hover {
    cursor: pointer;
    transform: scale(0.9);
}
