
@import '../css/skeletons/searchbar.css';
@import '../css/skeletons/topicsnavigation.css';
@import '../css/skeletons/menu.css';
@import '../css/skeletons/breadcrumb.css';
@import '../css/skeletons/cards.css';
@import '../css/skeletons/form.css';
@import '../css/skeletons/card.css';
@import '../css/skeletons/swiper.css';
@import '../css/skeletons/announcement.css';
@import '../css/skeletons/postcard.css';
@import '../css/skeletons/commentblock.css';

.divider {
    width: 50%;
    height: 2.5px;
    border-radius: 20px;
    background: var(--text);
    margin: 10px auto;
    margin-bottom: 1%;
}

.articlemark {
    font-size: 2.3rem;
    border: solid 1px var(--bright);
    background-color: var(--dark);
    color: var(--bright);
}

.material-icons-round {
    color: var(--bright);
    font-size: 5rem;
}

.material-icons-round.navbutton {
    color: var(--bright);
    font-size: 2rem;
    margin-right: 10px;
}

.material-icons-round.navbutton1 {
    color: var(--bright);
    font-size: 2rem;
}

.accounticon {
    float:right;
    margin-top: 5px;
    margin-right: 5px;
}

.accounticon:hover {
    cursor: pointer;
    transform: scale(0.9);
}

button {
    background-color: var(--bright);
    padding: 5px;
    color: var(--text);
    border-radius: 20px;
    border: var(--dark);
    min-width: 5vw;
}

button:hover {
    background-color: var(--ash);
    border: none;
}

button:active {
    transform: scale(0.9);
}