@import '../css/skeletons/swiper.css';
@import '../css/skeletons/searchbar.css';
@import '../css/skeletons/topicsnavigation.css';
@import '../css/skeletons/menu.css';


.divider {
    width: 50%;
    height: 2.5px;
    border-radius: 20px;
    background: var(--text);
    margin: 10px auto;
    margin-bottom: 1%;
}
