.photodisplay{
    display: grid;
    grid-template-columns: 40vw auto;
    text-align: left;
    row-gap: 1%;
}

.photodisplay.twophotos{
    display: block;
    text-align: left;
}

.photodisplay p {
    margin-top: 0;
    padding-left: 2%;
    width: 90%;
}

@media (max-width: 800px) {
    .photodisplay img {
        height: 90%;
    }

    .photodisplay {
        display: block;
    }

    h5 {
        text-align: center;
        margin-bottom: 1px;
    }
}
