.textblock {
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    padding-top: 100px;
}

.textblock p,h5{
    margin-top: 4vh;
}

.start {
    color: var(--bright);
}

mark {
    color: var(--bright);
    border: 1px solid var(--bright);
}

.article {
    width: 80%;
    float: left;
    text-align: left;
}

.articlejump{
    width: 10vw;
    position: fixed;
    right: 0;
    text-align: left;
}

.articlejump a{
    color: var(--text);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: normal;
}

.articlejump a:hover{
    background-color: var(--dark);
}

.linkedcontent p{
    margin-top: 2vh;
    padding-left: 15px;
}
.accordioncontainer {
    margin: 0;
    margin-top: 2vh;
}

.imagesdisplay {
    display:inline-block;
    margin-top: 4vh;
    width: 100vw;
}

.imagesdisplay img{
    height: 30vh;
}

.card img{
    height: 20vh;
}

.valuetable{
    display: grid;
    grid-template-columns: Auto 30vw auto;
    text-align: left;
    word-break: normal;
}
#community-list {
    display: grid;
    grid-template-columns: Auto auto auto;
}

.card {
    width: 80%;
}

@media (max-width:800px) {
    .article {
        width: 70%;
    }
    .articlejump{
        width: 30vw;
    }

    #community-list {
        display: grid;
        grid-template-columns: Auto auto;
        gap: 2px;
    }

    .imagesdisplay {
        display:block;
        margin-top: 4vh;
        width: 100%;
    }   

    .imagesdisplay img{
        height: 20vh;
    }
    
    .card img{
        height: 10vh;
    }

    .card {
        background-color: var(--ash);
        border: 0.2rem solid #ddd;
        border-radius: 8px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        height: 20vh;
        width: 20vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0.5vw;
        margin-bottom: 2%;
        display: block;
        word-break: normal;
        text-decoration: none;
    }

    .card-title{
        margin-top: 0vh;
    }

}