.accordion.level2.active, .accordion.level2:hover {
    
    background-color: var(--charcoal);
    color: var(--text);
}

.accordion.level3.active, .accordion.level3:hover {
    background-color: var(--forest);
    color: var(--text);
}

.nestedpanel.level2 {
    border: dotted var(--bright) 1px;
}

.img-gallery {
    width: 70%;
    margin: auto;
    display: block;
    overflow: hidden;
    max-height: fit-content;
    min-height: 0;

}

.img-gallery img{
    width: 30%;
    min-width: 30%;
    
    cursor: pointer;
    padding: 5px;;
    margin: auto;
    object-fit: contain;
    
}

.img-gallery img:hover{
    transform: none;
    border-radius: 0;
}

.imageresized{
    object-fit: contain;
}

#caption{
    margin: auto;
}