.card.viceral {
    background-image: url("../../assets/pantone.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card.behavioral {
    background-image: url("../../assets/input.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card.reflective {
    background-image: url("../../assets/thought.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container {
    height: 80vh;
}